:where(.label) {
    padding: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
}

:where(.input) {
    padding: 10px;
    border-radius: 15px;
    border: 1px solid rgba(128, 128, 128, 0.753);
    cursor: auto;
}

:where(.input:focus, .input:hover) {
    outline: 1px solid blue;
}